@import '../../theme/breakpoints';

.catcher {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    & h1 {
        font-size: 35px;
        color: #fff;
        margin-bottom: 20px;
    }

    & p {
        font-size: 24px;
        color: #fff;
        line-height: 1.35em;
    }
}

